<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-text-center">Marcador</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <div class="main-container">
    <ion-card>
      <ion-card-header>
        <ion-card-title class="ion-text-center">Tiempo del partido</ion-card-title>
      </ion-card-header>
      <ion-card-content class="ion-text-center">
        <h1 class="timer">{{ timer }}</h1>
        <ion-buttons class="ion-justify-content-center">
          <ion-button color="primary" fill="solid" shape="round" (click)="toogleTimerStatus()">
            <ion-icon *ngIf="timerStatus" name="pause" slot="icon-only" size="small"></ion-icon>
            <ion-icon *ngIf="!timerStatus" name="play" slot="icon-only" size="small"></ion-icon>
          </ion-button>
          <ion-button color="primary" fill="solid" shape="round" (click)="configTime()">
            <ion-icon name="settings" slot="icon-only" size="small"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-card-content>
    </ion-card>
  
    <ion-grid>
      <ion-row class="ion-no-padding ion-no-margin">
        <ion-col size="6" class="ion-no-padding ion-no-margin">
          <ion-card>
            <ion-card-header>
              <ion-card-subtitle class="ion-text-center">
                <ion-row>
                  <ion-col size="6" class="ion-text-start" style="display: flex; align-items: center; justify-content: left;">
                    <h2>{{ localTeam }}</h2>
                  </ion-col>
                  <ion-col size="6" class="ion-text-end" style="display: flex; align-items: center; justify-content: right;">

                      <div class="card flex justify-center">
                        <p-button icon="pi pi-cog" [rounded]="true" severity="info" [outlined]="true" size="small" (click)="showDialogLocal()"/> 
                        <p-dialog header="Editar equipo local" [modal]="true" [(visible)]="visibleLocalModal" [style]="{ width: '25rem' }" appendTo="body">
                          <p-iftalabel>
                            <p-iconfield>
                              <ion-row>
                                <ion-col size="10">
                                  <p-inputicon class="pi pi-user" />
                                  <input pInputText id="localTeamInput" [(ngModel)]="localTeamInput" autocomplete="off" />
                                </ion-col>
                                <ion-col size="2" style="display: flex; align-items: center; justify-content: right;">
                                  <p-button icon="pi pi-check" [rounded]="true" severity="info" [outlined]="true" size="small" (click)="saveLocalTeam()" (click)="visibleLocalModal = false"/>
                                </ion-col>
                              </ion-row>
                            </p-iconfield>
                            <label for="localTeamInput">Local Team</label>
                        </p-iftalabel>
                        </p-dialog>
                      </div>
                  </ion-col>
                </ion-row>
              </ion-card-subtitle>
              <ion-card-title class="score-text ion-text-center">{{ localScore }}</ion-card-title>
            </ion-card-header>
        
            <ion-card-content>
              <!-- Primera fila de botones +1, +2, +3 -->
              <ion-grid>
                <ion-row class="ion-no-padding ion-no-margin ion-justify-content-center">
                  <ion-col size="4" class="ion-no-padding ion-no-margin ion-text-center" >
                    <ion-button color="primary" (click)="modifyPoints('local', 1)" size="small" shape="round" class="circular-button">+1</ion-button>
                  </ion-col>
                  <ion-col size="4" class="ion-no-padding ion-no-margin ion-text-center">
                    <ion-button color="primary" (click)="modifyPoints('local', 2)" size="small" shape="round" class="circular-button">+2</ion-button>
                  </ion-col>
                  <ion-col size="4" class="ion-no-padding ion-no-margin ion-text-center">
                    <ion-button color="primary" (click)="modifyPoints('local', 3)" size="small" shape="round" class="circular-button">+3</ion-button>
                  </ion-col>
                </ion-row>
        
                <!-- Segunda fila de botones duplicados (si los necesitas para otra acción) -->
                <ion-row class="ion-no-padding ion-no-margin ion-justify-content-center">
                  <ion-col size="4" class="ion-no-padding ion-no-margin ion-text-center">
                    <ion-button color="secondary" (click)="modifyPoints('local', -1)" size="small" shape="round" class="circular-button">-1</ion-button>
                  </ion-col>
                  <ion-col size="4" class="ion-no-padding ion-no-margin ion-text-center">
                    <ion-button color="secondary" (click)="modifyPoints('local', -2)" size="small" shape="round" class="circular-button">-2</ion-button>
                  </ion-col>
                  <ion-col size="4" class="ion-no-padding ion-no-margin ion-text-center">
                    <ion-button color="secondary" (click)="modifyPoints('local', -3)" size="small" shape="round" class="circular-button">-3</ion-button>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-card-content>
        
            <ion-footer class="ion-text-center">
              <ion-label>Faltas</ion-label>
              <ion-button fill="clear" (click)="modifyFoul('local', -1)">-</ion-button>
              {{ localFouls }}
              <ion-button fill="clear" (click)="modifyFoul('local', 1)">+</ion-button>
            </ion-footer>
          </ion-card>
        </ion-col>
  
        <ion-col size="6" class="ion-no-padding ion-no-margin">
          <ion-card>
            <ion-card-header>
              <ion-card-subtitle class="ion-text-center">
                <ion-row>
                  <ion-col size="6" class="ion-text-start" style="display: flex; align-items: center; justify-content: left;">
                    <h2>{{ visitorTeam }}</h2>
                  </ion-col>
                  <ion-col size="6" class="ion-text-end" style="display: flex; align-items: center; justify-content: right;">
                    <div class="card flex justify-center">
                      <p-button icon="pi pi-cog" [rounded]="true" severity="info" [outlined]="true" size="small" (click)="showDialogVisitor()"/>

                      <p-dialog header="Editar equipo visitante" [modal]="true" [(visible)]="visibleVisitorModal" [style]="{ width: '25rem' }" appendTo="body">
                        <p-iftalabel>
                          <p-iconfield>
                            <ion-row>
                              <ion-col size="10">
                                <p-inputicon class="pi pi-user" />
                                <input pInputText id="visitorTeamInput" [(ngModel)]="visitorTeamInput" autocomplete="off" size="small" />
                              </ion-col>
                              <ion-col size="2" style="display: flex; align-items: center; justify-content: right;">
                                <p-button icon="pi pi-check" [rounded]="true" severity="info" [outlined]="true" size="small" (click)="saveVisitorTeam()" (click)="visibleVisitorModal = false"/>
                              </ion-col>
                            </ion-row>
                          </p-iconfield>
                          <label for="visitorTeamInput">Editar equipo visitante</label>
                      </p-iftalabel>
                      </p-dialog>
                    </div>
                  </ion-col>
                </ion-row>
              </ion-card-subtitle>
              <ion-card-title class="score-text ion-text-center">{{ visitanteScore }}</ion-card-title>
            </ion-card-header>
        
            <ion-card-content>
              <!-- Primera fila de botones +1, +2, +3 -->
              <ion-grid>
                <ion-row class="ion-no-padding ion-no-margin ion-justify-content-center">
                  <ion-col size="4" class="ion-no-padding ion-no-margin ion-text-center">
                    <ion-button color="primary" (click)="modifyPoints('visitor', 1)" size="small" shape="round" class="circular-button">+1</ion-button>
                  </ion-col>
                  <ion-col size="4" class="ion-no-padding ion-no-margin ion-text-center">
                    <ion-button color="primary" (click)="modifyPoints('visitor', 2)" size="small" shape="round" class="circular-button">+2</ion-button>
                  </ion-col>
                  <ion-col size="4" class="ion-no-padding ion-no-margin ion-text-center">
                    <ion-button color="primary" (click)="modifyPoints('visitor', 3)" size="small" shape="round" class="circular-button">+3</ion-button>
                  </ion-col>
                </ion-row>
        
                <!-- Segunda fila de botones duplicados (si los necesitas para otra acción) -->
                <ion-row class="ion-no-padding ion-no-margin ion-justify-content-center">
                  <ion-col size="4" class="ion-no-padding ion-no-margin ion-text-center">
                    <ion-button color="secondary" (click)="modifyPoints('visitor', -1)" size="small" shape="round" class="circular-button">-1</ion-button>
                  </ion-col>
                  <ion-col size="4" class="ion-no-padding ion-no-margin ion-text-center">
                    <ion-button color="secondary" (click)="modifyPoints('visitor', -2)" size="small" shape="round" class="circular-button">-2</ion-button>
                  </ion-col>
                  <ion-col size="4" class="ion-no-padding ion-no-margin ion-text-center">
                    <ion-button color="secondary" (click)="modifyPoints('visitor', -3)" size="small" shape="round" class="circular-button">-3</ion-button>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-card-content>
        
            <ion-footer class="ion-text-center">
              <ion-label>Faltas</ion-label>
              <ion-button fill="clear" (click)="modifyFoul('visitante', -1)">-</ion-button>
              {{ visitanteFouls }}
              <ion-button fill="clear" (click)="modifyFoul('visitante', 1)">+</ion-button>
            </ion-footer>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  
</ion-content>
