<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="broadcast" [routerLink]="['/tabs/broadcast']">
      <ion-icon name="radio-outline"></ion-icon>
      <ion-label>Emitir</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="scoreboard" [routerLink]="['/tabs/scoreboard']">
      <ion-icon name="stats-chart-outline"></ion-icon>
      <ion-label>Marcador</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="management" [routerLink]="['/tabs/management']">
      <i class="pi pi-video" style="font-size: 1.5rem"></i>
      <ion-label>Dirección</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="settings" [routerLink]="['/tabs/settings']">
      <i class="pi pi-cog" style="font-size: 1.5rem"></i>
      <ion-label>Configuración</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
